conda create --name BVQA python=3.8 -y
conda activate BVQA
conda install pytorch==2.1.0 torchvision==0.16.0 pytorch-cuda=11.8 -c pytorch -c nvidia
pip install datasets # 3.0.0
pip install flash-attn --no-build-isolation # 2.6.3
pip install wandb # 0.18.1
pip install deepspeed # 0.15.1